<!DOCTYPE html>
<html>
<head>
  {% include 'hheader.html' %}
  <title>Wordファイル比較</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
  <link href="static/dist/main.css" rel="stylesheet" type="text/css" />
<style>

em.str-diff {
  font-weight: normal;
  font-style: normal;
  background-color:#E99;
}

span.line-num {
  display: block;
  line-height: 1.5rem;
}

span.line-num:before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  border-right: 1px solid #ddd;
  padding: 0 .5em;
  margin-right: .5em;
  color: #888
}

.diff-block {
  display: block;
  background-color:#FCC;
}

</style>
</head>

<body>

<div id="root" class="container"></div>

<script src="{{ url_for('static', filename='dist/main.bundle.js') }}"></script>

</body>
</html>
